$color1: #808080;
$color2: #0b0a0a;
$color3: #ffffff;
$color4: transparent;
$color5: rgb(247,247,247);
$color6: radial-gradient(circle, rgba(247,247,247,1) 0%, rgba(0,0,0,1) 21%);

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@each $border-color in red, green, blue, yellow, purple, pink, orange {
    .#{$border-color}-btn { border: 8px solid $border-color;}
}

@each $color in red, green, blue, yellow, purple, pink, orange {
    .#{$color}-icon { color: $color;}
}

@keyframes down-up {
    from {
      padding: 35px 70px;
    }
  
    to {
      padding: 50px 95px;
    }
  }

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: $color1;
    width: 100vw;
    height: 100vh;
    @include flex;
}

.app {
    background: $color6;
    color: $color3;
    width: 950px;
    height: 700px;

    .hero {
        background-color: $color3;
        width: 950px;
        height: 60px;
        @include flex;
        justify-content: space-between;

        h1 {
            color: $color2;
            margin-left: 10px;
        }

        h2 {
            color: $color2;
            margin-right: 10px;
        }
    }

    .row {
        width: 100%;
        height: 200px;
        margin: 10px auto;
        @include flex;

        button {
            padding: 45px 90px;
            cursor: pointer;
            background-color: $color4;
            margin: auto 10px;

            &:hover {
                animation-duration: 1.3s;
                animation-name: down-up;
            }

            ion-icon {
                font-size: 80px;
            }
        }
    }
}